/* 
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
} */


html, body {
 width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
   font-family: "Poppins", sans-serif;
   
    min-height: 100%;
  display: flex;
  flex-direction: column;
   color: #514e52;
}
.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

html {
  background: linear-gradient(
    90deg,
    #f6f6f6 0%,
    #e0ecf8 50%,
    #f9f1eb 100%
  );
}

.Pacificofont{
   font-family: "Pacifico", cursive;

}
.popinsfont{
   font-family: "Poppins", sans-serif;
}
.headfont{
  font-family:sans-serif;
}

.mainHeadColor{
   color: #413F42;
}
.subHeadColor{
   color: #514e52;
}
.smallHeadColor{
   color: #6c6b6d;
}